<!-- views/index.erb -->

<table class="file-edit">
  <% @files.each do |file| %>
    <tr>
      <td>
        <a class="file-link" href="<%= file %>"><%= file %></a>
      </td>
      <td>
        <a class="edit-link" href="<%= file %>/edit">Edit</a>
      </td>
      <td>
        <form class="inline delete" method="post" action="/<%= file %>/delete">
          <button type="submit">delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<% content_for :newdoclink do %>
  <a class="add links" href="/new">New Document</a>
<% end %>

<% if session[:username] %>
  <% content_for :signedinas do %>
    <h2 class="user-status">Signed in as <%= @username %>
    <form class="inline logout" method="post" action="/users/signout">
      <button type="submit">Sign Out</button>
    </form>
    </h2>
  <% end %>
<% else %>
  <% content_for :signin do %>
    <div class="user-status"><a href="/users/signin">Sign In</a></div>  
  <% end %>
<% end %>
